@import '../../styles/mixins';
@import '../../styles/variables';

.container {
  width: 100%;
  padding: $size2 0;
  border-bottom: $Default_MainRed solid $borderLine;
  p {
    @include Default_Body_S($Label_Color_Light_Primary);
    line-height: $size4;
    text-align: center;
  }
}
