@import '@/styles/mixins';
@import '@/styles/variables';

.container {
  height: 100%;
}

.container_day {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container_date {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: calc(100% - 33px);
}

.container_week {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 16.66666666666667%;
}
