@import '../styles/mixins';
@import '../styles/variables';

@mixin rightAlignment {
  margin-right: $size4;
  margin-left: auto;
}

.padding {
  padding: 16px;
}

// ======================
// topBar
// ======================
.topBarArea {
  display: flex;
  margin: $size4 0;
}

.totalAmount {
  color: $red;
  margin-left: $size4;
  line-height: $size7;
}

.topBarButton {
  @include rightAlignment();
}

// ======================
// textField
// ======================

.textFieldArea {
  display: flex;
  margin-bottom: $size4;
}

.textFieldLabel {
  margin-left: $size4;
  line-height: $size9;
}

.textField {
  @include rightAlignment();
}
