@import '@/styles/mixins';
@import '@/styles/variables';

.margin8 {
  margin-top: $size8;
}

.mainContainer {
  padding: 0 $size4;
}

.hide {
  display: none;
}

// ======================
// textField
// ======================
.textFieldContainer {
  padding: $size4 0 0;
}

// ======================
// card
// ======================
.cardContainer {
  margin-bottom: $size4;
}

.addButton {
  display: flex;
  justify-content: center;
  margin-bottom: $size4;
}
