@import '../styles/mixins';
@import '../styles/variables';

.container {
  display: flex;
  padding: 0 $size2 $size5;
  height: $size20;
  background-color: $Background_Color_Light_Tertiary;
  @include header_shadow();
}

.iconButton {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  padding-top: $size2;
  height: $size8;
}

.iconLabel_on {
  @include Default_Body_XS($Default_MainRed);
  line-height: $size4;
}

.iconLabel_off {
  @include Default_Body_XS($Label_Color_Light_Secondary);
  line-height: $size4;
}
