@import '../styles/mixins';
@import '../styles/variables';

.container {
  height: $size24;
  background-color: $white;
  display: flex;
  border-top: $size1 solid $red;
}

@mixin iconBox {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: $size2 $size2 $size6;
  @include radius;
  &:hover {
    img {
      transition: 0.3s all linear;
      transform: scale(1.2);
    }
  }
}

.iconBoxOn {
  @include iconBox;
  background-color: $lightGray;
}

.iconBoxOff {
  @include iconBox();
  transition: 0.3s all linear;
  &:hover {
    background-color: $whiteHover;
  }
}

.icon {
  height: $size10;
}
