@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  height: $size6;
  padding-left: $size4;
  background-color: $Background_Color_Light_Secondary;
  border-bottom: $Label_Color_Light_Secondary solid $borderLine;
}

.text {
  @include Default_Bold_Label_S($Default_MainRed);
  line-height: $size6;
}
